:root {
    /* primary */
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
  
    /* Neutral */
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", "serif";
}

li {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Karla", "sans-serif";
    font-weight: 400;
    line-height: 1.3;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.0625rem;
    padding: 0 1.5em;
}

.logo img {
    height: 1.1875rem;
    width: 7rem;
}

/* hamburger button */
.hamburger-menu {
    display: block;
    height: 35px;
    width: 35px;
    border: 2.3px solid var(--Dark-Violet);
    position: relative;
}

.hamburger-menu span {
    display: block;
    width: 65%;
    height: 2.5px;
    margin-bottom: 5px;
    background-color: var(--Dark-Violet);
    transition: all 0.3s ease-in-out;
    transform-origin: 2px 1px;
    position: absolute;
}

.hamburger-menu span:nth-child(1) {
    top: 20%;
    left: 15%;
}

.hamburger-menu span:nth-child(2) {
    top: 45%;
    left: 15%;
}

.hamburger-menu span:nth-child(3) {
    top: 70%;
    left: 15%;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    width: 80%;
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    width: 80%;
}

/* navbar links */
.desk-nav {
    display: none;
}

.nav-link {
    display: none;
    background-color: var(--Very-Dark-Violet);
    height: 36.75rem;
    width: 100%;
    margin: 0;
    padding: 2em 0 0 0;
    background-image: url("/images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100%;
}

.nav-list {
    height: 3.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.nav-list a {
    color: var(--Very-Light-Gray);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* view btn */
.btn {
    border: 2px solid var(--Very-Light-Gray);
    width: 80%;
    margin: 1em auto;
}
  
/* section - hero */

.hero {
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-Violet);
}

.hero-image img {
    width: 100%;
}

.hero-content {
    position: relative;
    color: var(--Very-Light-Gray);
    text-align: center;
    padding: 5em 1.6875em;
}

.hero-content > h1 {
    margin-top: 0;
    font-size: 2.8rem;
    margin-bottom: 0;
    font-weight: 400;
}

.hero-content p {
    line-height: 1.6;
    margin-bottom: 2.5em;
}

.hero-content a {
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 0.6em 1.5em;
    text-transform: uppercase;
    font-weight: 700;
}

.insur-button {
    color: var(--Very-Light-Gray);
    border: 2px solid var(--Very-Light-Gray);
    padding: 0.6em 1.6875em;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
  
.insur-button:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
}

.hero-desk-left-bg,
.hero-desk-rightt-bg {
  display: none;
}

.hero-left-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}

.hero-right-bg {
    position: absolute;
    bottom: -14rem;
    right: 0;
    height: auto;
}


/* media query */
@media (min-width: 900px) {
    header {
        padding: 0 10.125em;
    }

    .hamburger-menu,
    .nav-link {
        display: none;
    }

    .desk-nav {
        display: flex;
        align-items: center;
    }

    .desk-list {
        margin-right: 1.6875em;
        text-transform: uppercase;
        font-weight: 700;
    }

    .desk-list:not(:last-child) a {
        color: var(--Dark-Grayish-Violet);
        transition: color 0.3s ease-in-out;
    }

    .desk-list:not(:last-child) a:hover {
        color: var(--Dark-Violet);
    }

    .desk-list:last-child a {
        display: inline-block;
        border: 2px solid var(--Dark-Violet);
        padding: 0.5em 1.5em;
        color: var(--Dark-Violet);
        transition: all 0.3s ease-in-out;
    }

    .desk-list:last-child a:hover{
        background-color: var(--Dark-Violet);
        color: var(--Very-Light-Gray);
    }

    .hero {
        flex-direction: row;
    }
    
    .hero-content {
        max-width: 33.875rem;
        margin-left: 10.125em;
        margin-top: 15em;
        margin-right: 12em;
        text-align: left;
        padding: 0;
    }
    
    .hero-image {
        position: relative;
        width: 33.8125rem;
        height: 40.75rem;
        top: 10rem;
        right: 10rem;
        order: 2;
    }
    
    .hero-image img {
        content: url("/images/image-intro-desktop.jpg");
    }
    
    .hero-left-bg,
    .hero-right-bg {
        display: none;
    }
    
    .hero-desk-left-bg {
        display: block;
        position: absolute;
        height: auto;
        top: 32rem;
        left: 0;
    }
    
    .hero-desk-rightt-bg {
        display: block;
        position: absolute;
        right: 0;
        top: 5.0626rem;
    }
}